<%= render"navigation" %>
				<div id="main_wrapper">
							
					  
			
		<div id="aboutus_content">
				<div class="aboutus_header">
						<h2>Institutional Purpose and  Philosphy:</h2>
						<p>
								 The basic education philosophy within Dummy college stems back from the concept, that learning is fundamental to the personal development of individuals. In this light, Dummy college offers a variety of programs allowing a high degree of individualization to talented learners from a wide range of academic and cultural backgrounds and with diverse degrees of experience. Our programs are designed to stimulate students to meet their potential to further grow and excel in their respective areas.</br></br>

At Dummy college, we assume that the learning process is a shared responsibility between the University, its faculty members and the students. Whereas the University contributes the academic and organizational framework in which the educational processes are set, our faculty members present the knowledge, skills and mindset to allow students the opportunity to improve knowledge, skills and competencies. In return, the students’ responsibility lies in the willingness to dedicate class time, study time, and commitment to receiving the materials, knowledge, support and guidance provided to them.</br></br>

The object of our learning process is to bring about knowledge, understanding and competencies by the encouragement of questions, intellectual curiosity, critical thinking and open discussion. Predominant criteria for working towards the set learning outcomes are mutual respect between faculty members and students and practicing self-discipline. Education at Dummy college embraces moral, ethical and legal principles which provide the basis for the University’s code of conduct.
						</p>
				</div>
				<div class="aboutus_header">
						<h2>History:</h2>
						<p>
								The Dummy College of Management and Arts (DCMA) is an international business college and advanced education institute of the ------- (). As a graduate College of management and arts DCMA focuses on Intermediate, Bachelor and postgraduate Master Programs (MBA, MSc, MBE,...). General managers require a broad set of skills to pursue their careers. Consequently, the DCMA Master Programs have a strong base in technology and innovation management as well as in international management. </br></br>
								The DCMA programs focus on hands-on management know-how and on integral business strategies as well as the training of team player abilities and decision-making competencies.  </br></br>The degrees are fully recognized by the Nepali educational authorities. While having a firm foundation in industry and the region, DCMA has an international focus. The course contents and teaching materials are international. 
						</p>
				</div>
				<div class="aboutus_header">
						<h2>Vision Statement:</h2>
						<p>
							Dummy college wishes to become an exemplary facilitator and supporter of responsible, innovative and relevant knowledge and empowering students to achieve their full potential in a global, culturally diverse and technological society.
						</p>
				</div>
				<div class="aboutus_header">
						<h2>Mission Statement:</h2>
						<p>
								Our mission is to provide a learning community where students can acquire knowledge and develop skills that will enhance their lives and careers. We encourage an atmosphere where creativity, ethics, integrity, responsibility, and the free exchange of ideas between students, faculty, and community leaders are valued. Our goal is to give our students a strong foundation for a successful future in today’s global society.
						</p>
				</div>
				<div class="aboutus_header">
						<h2>College Objective:</h2>
						<p>
								Our faculty and administrators are dedicated to building a well respected, quality educational institute that will grow and become an esteemed member of the Nepali Educational system. We want our students to achieve greatness in a global society.
						</p>
				</div>
				
				<div class="aboutus_header">
						<h2>Facilities:</h2>
						<p>
								The Dummy college is conveniently located in ....., ....., at the junction of ---------. The Dummy college is approximately ------ square feet and has numerous classrooms, a computer lab, a library, and student lounges where students can relax and chat. The big atrium is light and spacious and equipped with a hot and cold drinking fountain, a refrigerator, and several microwave ovens for heating up food.
						</p>
				</div>
		</div>
<%= render"footer" %>

</div>
