 <%= render"navigation" %>
				<div id="main_wrapper">
						
									
			<div id="admission_content">						
				<div class="admission_header">
							<label>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
							</label>
						
					<div class="undergraduate_content">
					              <div id="addmission">
					                  <h2>Addmissions</h2>
					                  <ul>
					                        <li><a href="#">undergraduate</a></li>
					                        <li><a href="#">graduate</a></li>
					                        <li><a href="#">international student</a></li>
					                        <li><a href="#">online and distance courses</a></li>
					                  </ul>
						            </div>
					  <div class="courses_content">
					        <div class="undergraduate_study">
					                  <div class="undergraduate_text">
						                    <h2><a href="#">Undergraduate Courses</a></h2>
						                        <p>
								                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
					                        	</p>
						                </div>
						                 <div class="undergraduate_image">
						                      <%=image_tag"picture-60.png",:class=>"undergraduate_student"%>
						                 </div>
						    </div>  
						 <div class="graduate_study"> 
					      <div class="graduate_text">
						       <h2><a href="#">Graduate Courses</a></h2>
						         <p>
								      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
						
						          </p>
						    </div>
						  <div class="graduate_image">
						      <%=image_tag"picture-57.png",:class=>"graduate_student"%>
						 </div>
					</div>	 
						</div>
				</div>
			</div>	
<%= render"footer" %>
							
				</div>			
