 <%= render"navigation" %>
				<div id="main_wrapper">
						
									
			<div id="admission_content">						
				<div class="admission_header">
							<label>
								We’re glad you’re considering Dummy College. There’s something special happening in this Bay Area valley we call home, and if you’d like to be a part of it, we’d love to get to know you.
							</label>
						<h2>Undergraduate</h2>
						<p>
								If you’re applying to Dummy College right out of high school as an <a href="#"><strong>undergraduate&nbsp;</strong></a> or transferring from a 2 or 4 year institution we’re sure you have a million questions about Dummy College— about our <a href="#">academic programs&nbsp;</a>financial aid
study abroad and  our location etc. 
						</p>
						   <h2>Graduate</h2>
						    <p>
								If you’re considering DC for <a href="#"><strong>graduate&nbsp;</strong></a> work, you might want to know those same things. (You’ll certainly enjoy quite a few meals in our dining hall.) But you’ve probably got some questions that are more specific: about our faculty and students, our academic reputation, and <a href="#">educational options&nbsp;</a> that suit a working professional lifestyle.</br></br>

Our job is to make sure you get the answers to your questions as quickly as possible. You’ll find many of the answers here on our site, but our staff is always available if there’s anything you’d like to ask us. 
						</p>
				</div>
			</div>	
<%= render"footer" %>
							
				</div>			
