<div id="advice_content">
    <div class="advice_text">
        <div class="advice_content_header">
                <h2>advice</h2>
                      <div class="advice_information">
                        <ul>
                              
					                   <li><a href="#">Course advice and Information</a></li>
					                   <li><a href="#">Pathways</a></li>
					                   <li><a href="#">Next Step</a></li>
					                   <li><a href="#">CV Workshops</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Help with Fees and Finance</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">International Students</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
                        </ul>
                      </div>
            </div>
          <div class="advice_header">
                <h2>Course advice and Information</h2>
                      <ul>
                          
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                         <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                      </ul>
          </div>
          <div class="advice_header">
                <h2>Pathways</h2>
                      <ul>
                          
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                         <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                      </ul>
                      </ul>
          </div>
          <div class="advice_header">
                <h2>Next Step</h2>
                      <ul>
                          
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                      </ul>
          </div>
          <div class="advice_header">
                <h2>CV Workshops</h2>
                      <ul>
                    
                         <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                      </ul>
                      </ul>
          </div>
          <div class="advice_header">
                <h2>Help with Fees and Finance</h2>
                      <ul>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                         <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                      </ul>
                      </ul>
          </div>
          <div class="advice_header">
                <h2>International Students</h2>
                      <ul>
                         
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                         <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                          <li><a href="#">Lorem Ipsum is simply dummy text simply dummy text simply dummy text simply dummy text</a></li>
                      </ul>
                      </ul>
          </div>
    </div>
</div>
	<%= render"footer" %>
