<div id="college_rule">
      <div class="college_rule_content">
          <div class="college_rule_text">
              <h2>College Rules and Standards<h2>
              <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
    <!--text slider-->
          <div id="slider_get">
              <ul class="college_navigation">
                    <li><a href="#environment"><span>1. </span> College Environment</a></li>
                    <li><a href="#security"><span>2.</span>  Security</a></li>
                    <li><a href="#passes"><span>3. </span> College Passes</a></li>
                    <li><a href="#possessions"><span>4. </span> Personal Possessions</a></li>
                    <li><a href="#mobile"><span>5. </span> Mobile Phones/ipads/MP3 Players</a></li>
                    <li><a href="#smoking"><span>6. </span> Smoking </a></li>
                    <li><a href="#dress"><span>7.  </span>Dress Code</a></li>
                    <li><a href="#lorem"><span>8. </span> Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#ipsum"><span>9. </span> Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#dummy"><span>10. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#simply"><span>11.</span> Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#lorem_ipsum"><span>12. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#ipsum_lorem"><span>13. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#loremipsum"><span>14. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#ipsumlorem"><span>15. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#lorem_dummy"><span>16. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#dummy_lorem"><span>17. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#ipsum_dummy"><span>18. </span>Lorem Ipsum is simply dummy text</a></li>
                    <li><a href="#dummy_ipsum"><span>19. </span>Lorem Ipsum is simply dummy text</a></li>
                    
              </ull>
     <!-- element with overflow applied -->
          </div>
       <div class="scroll"> 
      <!-- the element that will be scrolled during the effect -->  
         <div class="scrollContainer">
              <div class="panel" id="environment">
            <!-- our individual panels -->
                  <h2>College Environment</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="security">
                  <h2>Security</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="passes">
                  <h2>College Passes</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="possessions">
                  <h2>Personal Possessions</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="mobile">
                  <h2>Mobile Phones/ipads/MP3 Player</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="smoking">
                  <h2>Smoking</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="dress">
                  <h2>Dress Code</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="lorem">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="ipsum">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="dummy">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="simply">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="lorem_ipsum">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="ipsum_lorem">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class=class="panel" id="loremipsum">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="ipsumlorem">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="lorem_dummy">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="dummy_lorem">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="ipsum_dummy">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="panel" id="dummy_ipsum">
                  <h2>Lorem Ipsum is simply dummy text</h2>
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
           </div> 
            
          </div>
      </div>
</div>
<%= render"footer" %>
