<div id="login_content">
    <div class="signup">
       <h2>Email Signup</h2>
          <label>Username</label></br> <input type="text" class="username">
          <label>Password</label></br> <input type="text" class="username">
                                        <input type="submit" class="submit" value="login">
          <div class="signup_text">
             <span>Code of Practice</span></br>
               <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>  
          </div>
    </div>
    <div class="signup_image">
          <%=image_tag"couch.jpg",:class=>"couch"%>
          <div class="loginhelp">
              <ul>
                  <li><a href="#">Forgot your password?</a></li>
                  <li><a href="#">Login help</a></li>
                  <li><a href="#">Change password</a></li>
              </ul>
          </div>
      </div>
</div>
