<div id="main_wrapper">
    <div id="lifedcma_content">
        <div id="lifedcma_main_content">
          <div class="lifedcma_header">
                <h2>LIFE @ DCMA</h2>
                      <div class="life_dcma">
                        <ul>
                              
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Health and Wellness</a></li>
					                   <li><a href="#">Lorem Ipsum</a></li>
					                   <li><a href="#">Residential Life</a></li>
					                   <li><a href="#">Campus Safety</a></li>
					                   <li><a href="#">College Environment</a></li>
                        </ul>
                      </div>
          </div>
    <div class="lifedcma_main_content">
          <div class="lifedcma_image">
              <h1>life @ dcma's </h1>
              <%=image_tag"BW.png",:class=>"black_white_image"%>
          </div>
          <div class="lifedcma_text">
             <p>
								     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
          </div>
     </div>
            <div class="lifedcma_header" style="float:right;">
                    <h2>LIFE @ DCMA GALLERY</h2>
                      <div class="image_student">
                          <a href="/pages/gallery"><%=image_tag"picture-59-2.png",:class=>"images_0f_student"%></a>
                          <h4>Opening Weekend!</h4>
                          <p>
								     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
                      </div>
            </div>   
             </div>    
    <%= render"footer" %>
   
</div>
