<div id="main_wrapper">
  <div id="program_faculty">
      <div class="program" style="margin:0 0px 20px 0;">
            <div class="program_content">
                <h2>Programs Offered</h2>
                   
            </div>
                <div class="program_text" style="margin:0 20px 0 0;">
                    <h4>Intermediate Programs</h4>
                        <ul>
                            <li><input type="chekbox" class="program_chekbox">10+2 Science</li>
                            <li><input type="chekbox" class="program_chekbox">10+2 Management</li>
                            <li><input type="chekbox" class="program_chekbox">10+2 Humanities</li>
                        </ul>  
                </div> 
                <div class="program_text" style="margin:0 20px 0 0;">     
                      <h4>Undergraduate Programs</h4> 
                          </ul> 
                                <li><input type="chekbox" class="program_chekbox">BBA (TU)</li>
                                <li><input type="chekbox" class="program_chekbox">BCA (KU)</li>
                                <li><input type="chekbox" class="program_chekbox">BHM (TU)</li>
                                <li><input type="chekbox" class="program_chekbox">BIT (PU)</li>
                                <li><input type="chekbox" class="program_chekbox">BBS (TU)</li>
                          </ul>
               </div>  
               <div class="program_text">    
                    <h4>Postgraduate Progams</h4>
                      <ul>  
                          <li><input type="chekbox" class="program_chekbox">MBA (KU)</li>
                          <li><input type="chekbox" class="program_chekbox">MBS (TU)</li>
                     </ul>
              </div>
      </div>
      <div class="faculty">
            <div class="faculty_content">
                <h2>Faculty</h2>
             </div>   
                    <div class="faculty_text" style="margin:0 20px 20px 0;">
                        <h4>Department of Physics</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div>   
                    <div class="faculty_text" style="margin:0 20px 20px 0;">
                        <h4>Department of Chemistry</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div>   
                    <div class="faculty_text" style="margin:0 0px 20px 0;">
                        <h4>Department of Zoology</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div>   
                    <div class="faculty_text" style="margin:0 20px 20px 0;">
                        <h4>Department of Botany</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div> 
                    <div class="faculty_text" style="margin:0 20px 20px 0;">
                        <h4>Department of Mathematics</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div>   
                    <div class="faculty_text" style="margin:0 0px 20px 0;">
                        <h4>Department of English</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div> 
                    <div class="faculty_text" style="margin:0 20px 20px 0;">
                        <h4>Department of Nepali</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div>   
                    <div class="faculty_text" style="margin:0 20px 20px 0;">
                        <h4>Department of Computer Science</h4>
                           <ul>
                                <li><input type="chekbox" class="program_chekbox">Pr. Dr. A A A</li>
                                <li><input type="chekbox" class="program_chekbox">B B B</li>
                                <li><input type="chekbox" class="program_chekbox">C C C</li>
                           </ul>  
                    </div>       
            </div>
  </div>
  <%= render"footer" %>
</div>
