<div id="friend_email">
    <form class="friend_email_content">
          <h2>Send to a Friend</h2>
                <p>
                      Email the link to
                        <strong>Welcome to Dummy College of Management and Arts</strong>
                          using the form below
        </p>
        <div class="send_email">
              <label class="form_email">Your Email</label><input type="text" class="form_input">
              <label class="form_email">Friend's Email</label><input type="text" class="form_input">
        </div>
     </div>   
    </form>
    <div class="form_image">
               <%=image_tag"email_icon.gif",:class=>"email_icon"%>
    </div>
</div>
