<div id="sitemap_content">
    <div class="sitemap_details">
          <div class="sitemap_header">
              <h1>Site Map</h1>
                  <div class="sitemap_main_content" style="margin:0 20px 0px 0;">
                      <h2>about us</h2>
                          <ul>
                              <li><a href="#">institutional purpose and philosphy</a></li>
                               <li><a href="#">history</a></li>
                                <li><a href="#">vision statement</a></li>
                                 <li><a href="#">mission statement</a></li>
                                  <li><a href="#">college objective</a></li>
                                   <li><a href="#">facilities</a></li>
                          </ul>
                  </div>
                  <div class="sitemap_main_content">
                      <h2>News</h2>
                          <ul>
                              <li><a href="#">lorem ipsum</a></li>
                               <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">lorem ipsum</a></li>
                                 <li><a href="#">lorem ipsum</a></li>
                                  <li><a href="#">lorem ipsum</a></li>
                                   <li><a href="#">lorem ipsum</a></li>
                          </ul>
                  </div>
                  <div class="sitemap_main_content">
                      <h2>Program and Faculty</h2>
                          <ul>
                              <li><a href="#">lorem ipsum</a></li>
                               <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">lorem ipsum</a></li>
                                 <li><a href="#">lorem ipsum</a></li>
                                  <li><a href="#">lorem ipsum</a></li>
                                   <li><a href="#">lorem ipsum</a></li>
                          </ul>
                  </div>
                  <div class="sitemap_main_content">
                      <h2>Life @ DCMA</h2>
                          <ul>
                              <li><a href="#">lorem ipsum</a></li>
                               <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">lorem ipsum</a></li>
                                 <li><a href="#">lorem ipsum</a></li>
                                  <li><a href="#">lorem ipsum</a></li>
                                   <li><a href="#">lorem ipsum</a></li>
                          </ul>
                  </div>
                  <div class="sitemap_main_content">
                      <h2>Gallery</h2>
                          <ul>
                              <li><a href="#">lorem ipsum</a></li>
                               <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">lorem ipsum</a></li>
                                 <li><a href="#">lorem ipsum</a></li>
                                  <li><a href="#">lorem ipsum</a></li>
                                   <li><a href="#">lorem ipsum</a></li>
                          </ul>
                  </div>
                  <div class="sitemap_main_content">
                      <h2>Addmission</h2>
                          <ul>
                              <li><a href="#">lorem ipsum</a></li>
                               <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">lorem ipsum</a></li>
                                 <li><a href="#">lorem ipsum</a></li>
                                  <li><a href="#">lorem ipsum</a></li>
                                   <li><a href="#">lorem ipsum</a></li>
                          </ul>
                  </div>
                  <div class="sitemap_main_content">
                      <h2>College Rule</h2>
                          <ul>
                              <li><a href="#">lorem ipsum</a></li>
                               <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">lorem ipsum</a></li>
                                 <li><a href="#">lorem ipsum</a></li>
                                  <li><a href="#">lorem ipsum</a></li>
                                   <li><a href="#">lorem ipsum</a></li>
                          </ul>
                  </div>
                  <div class="sitemap_main_content">
                      <h2>Term and Conditions</h2>
                          <ul>
                              <li><a href="#">lorem ipsum</a></li>
                               <li><a href="#">lorem ipsum</a></li>
                                <li><a href="#">lorem ipsum</a></li>
                                 <li><a href="#">lorem ipsum</a></li>
                                  <li><a href="#">lorem ipsum</a></li>
                                   <li><a href="#">lorem ipsum</a></li>
                          </ul>
                  </div>
          </div>
    </div>
</div>

<%= render"footer" %>
