<div id="staffmail">
    <div class="staffstudentmail">
          <h2>Staff Student Email</h2>
                <p>
                     Security :</br>
                        <input type="radio" name="option" value="shared">This is Private or shared Computer</br>
                        <input type="radio" name="option" value="private">This is Private Computer</br>
                          </p>
                          
        </p>
        <div class="staff_sentmail">
              <label class="form_email">Domain/user name</label><input type="text" class="staff_input">
              <label class="form_email">Password</label><input type="text" class="staff_input"></br>
              <input type="submit" value="log on" class="staffsubmit" >
        </div>
    </div>
</div>
