<div id="main_wrapper">
<div id="termdate_content">
    <div id="termdate_main_content">
            <div class="termdate_header">
              <div class="brand">
                <h1>The College</h1>
               </div>  
               <div class="sub_brand">
                <h2>Dummy College of Term Dates</h2>
               </div>
               <div class="sub_brand_text">
                  <p>
								 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</br></br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
               </div>
                     <table class="data" cellspacing="0" cellpadding="2" width="98%" border="1" summary="Term dates to 2020">
                        <tbody>
                        <tr valign="bottom" align="center">
                        <td rowspan="2">Year</td>
                        <td colspan="2">
                        <b>Mid-term</b>
                        </td>
                        <td colspan="2">
                        <b>Assessement</b>
                        </td>
                        <td rowspan="2">Holidays</td>
                        <td colspan="2">
                        <b>Final Examination</b>
                        </td>
                        </tr>
                        <tr valign="bottom" align="center">
                        <td>
                        begins
                        <br>
                        Tue, Oct
                        </td>
                        <td>
                        ends
                        <br>
                        Fri, Dec
                        </td>
                        <td>
                        begins
                        <br>
                        Tue, Jan
                        </td>
                        <td>
                        ends
                        <br>
                        Fri, Mar
                        </td>
                        <td>
                        begins
                        <br>
                        Tue, April
                        </td>
                        <td>
                        ends
                        <br>
                        Fri, Jun
                        </td>
                        </tr>
                        <tr align="center" style="background-color: #eee;">
                        <th>2012-13</th>
                        <td>4</td>
                        <td>2</td>
                        <td>17</td>
                        <td>16</td>
                        <td>8 Apr</td>
                        <td>24</td>
                        <td>15</td>
                        </tr>
                        <tr align="center">
                        <th>2013-14</th>
                        <td>2</td>
                        <td>30 Nov</td>
                        <td>15</td>
                        <td>15</td>
                        <td>31 Mar</td>
                        <td>23</td>
                        <td>14</td>
                        </tr>
                        <tr align="center" style="background-color: #eee;">
                        <th>2014-15</th>
                        <td>8</td>
                        <td>6</td>
                        <td>14</td>
                        <td>14</td>
                        <td>20 Apr</td>
                        <td>22</td>
                        <td>13</td>
                        </tr>
                        <tr align="center">
                        <th>2015-16</th>
                        <td>7</td>
                        <td>5</td>
                        <td>13</td>
                        <td>13</td>
                        <td>5 Apr</td>
                        <td>21</td>
                        <td>12</td>
                        </tr>
                        <tr align="center" style="background-color: #eee;">
                        <th>2015-16</th>
                        <td>6</td>
                        <td>4</td>
                        <td>12</td>
                        <td>11</td>
                        <td>27 Mar</td>
                        <td>19</td>
                        <td>10</td>
                        </tr>
                        </tbody>
`                 </table>
                <div class="note">
                    <h2>Note</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="status">
                    <h2>From the Statutes and Ordinances of the Dummy College</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></br>
                    <span>Last updated: dd/mm/yy</span>
                </div>
           </div>
     </div>       
</div>
</div>
<%= render"footer" %>

