<div id="vaccancy_content">
    <div class="vaccancy_details">
        <h1>Latest Vaccancies</h1>
              <div class="vaccancy_header">
                    <h2>Lorem Ipsum is simply text</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                      <div class="vaccancy_type">
                              <p><span>Contract type:</span>Permanant, Full Time</p><p><span>salary:</span>Rs.------</p>
                              <p><span>Application end Date:</span>Jan 12, 2013</p><p><span>Location:</span>------</p>
                               <p><a href="#">View full job summary</a></p>
                     </div>
                    
                    <h2>Lorem Ipsum is simply text</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                      <div class="vaccancy_type">
                              <p><span>Contract type:</span>Permanant, Full Time</p><p><span>salary:</span>Rs.------</p>
                              <p><span>Application end Date:</span>Jan 12, 2013</p><p><span>Location:</span>------</p>
                               <p><a href="#">View full job summary</a></p>
                     </div>
                     <h2>Lorem Ipsum is simply text</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                      <div class="vaccancy_type">
                              <p><span>Contract type:</span>Permanant, Full Time</p><p><span>salary:</span>Rs.------</p>
                              <p><span>Application end Date:</span>Jan 12, 2013</p><p><span>Location:</span>------</p>
                               <p><a href="#">View full job summary</a></p>
                     </div>
                     
              </div>
              
    </div>
    
</div>
<%= render"footer" %>
