 <div id="main_wrapper">                      
                        <div id="webaccessibility_main_content">    
                            <div id="webaccessibility_content">
                                     <div class="webaccessibility_header">
                                            <h2>Website Accessibility</h2>
                                              <div class="web_accessibility">
                                                <ul>
                                                      
					                                           <li><a href="#">College Web accessibility policy</a></li>
					                                           <li><a href="#">Web accessibility guidelines introduction</a></li>
					                                           <li><a href="#">College Web templates and style guidelines</a></li>
					                                           <li><a href="#">Access keys</a></li>
					                                           <li><a href="#">Adjusting browser user prefences</a></li>
					                                           <li><a href="#">Lorem ipsum</a></li>
					                                           <li><a href="#">Lorem ipsum</a></li>
					                                           <li><a href="#">Lorm ipsum</a></li>
                                                </ul>
                                              </div>
                                      </div>
                                    <div class="accessibility_brand">
                                          <h1>About this site</h1>
                                     </div>  
                                     <div class="accessibility_sub_brand">
                                          <h2>Accessibility of Websites</h2>
                                     </div>
                                     <div class="accessibility_sub_brand_text">
                                        <p>
								                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</br></br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</br></br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</br></br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                       
                         </div> 
                         <div class="accessibility_sub_brand">
                                          <h4>Physical access to the college</h4>
                                     </div>
                                     <div class="accessibility_sub_brand_text">
                                        <p>
								                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</br></br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                       
                         </div> 
                   </div>             
 </div> 
 <%= render"footer" %>                      
