#admission_content{
width:960px;
display:block;
margin:0 auto;
}

.admission_header{
width:960px;
display:block;
float:left;
background-color:#fff;
}

.admission_header label{
width:920px;
display:block;
float:left;
font:25px geneva, arial, helvetica, sans-serif;
color:#333;
padding:20px;
}

.undergraduate_content{
width:960px;
display:block;
float:left;
}

#addmission_details{
width:265px;
float:left;
display:block;
margin:0 20px 0 0;
}


#addmission,#addmission_online,#addmission_form{
width:265px;
float:left;
display:block;
margin:0 0 20px 0;
}

#addmission h2{
color:#C343A0;
float:left;
display:block;
width:190px;
padding:0 20px 10px 20px;
}


#addmission ul{
list-style:none;
border-bottom:1px solid #d5d5d5;
float:left;
display:block;
}

#addmission li{
border-top:1px solid #d5d5d5;
width:100%;
float:left;
display:block;
}

#addmission a {
font:12px geneva, arial, helvetica, sans-serif;
color:#333333;
padding:5px 5px 5px 20px;
height:100%;
float:left;
text-shadow: 1px 2px 3px #666;
-webkit-text-shadow: 1px 2px 3px #666;
-moz-text-shadow: 1px 2px 3px #666;
display:block;
}

#addmission_online h2{
float:left;
display:block;
padding:0 10px 0px;
background-color:#C343A0;
color:#fff;
margin:0 0 0 20px;
padding:5px;
}

#addmission_online p{
float:left;
display:block;
width:190px;
}

#addmission_online a{
float:left;
display:block;
padding:5px 5px 5px 0px;
color:#333;
font:12px geneva, arial, helvetica, sans-serif;
}




#addmission a:hover{
text-decoration:underline;
color:#C343A0;
}

#downloads{
width:190px;
float:left;
display:block;
margin:0 20px 0px 0px;
padding:0 0 0 20px;
}


#download_image{
width:190px;
float:left;
display:block;
margin:0 20px 10px 0px;
padding:0 0 0 20px;
border:1px solid #333;
}
.download_icon{
width:40px;
height:40px;
float:left;
display:block;
margin:0 10px 0 0;
}

#download_image h2{
float:left;
display:block;
color:#C343A0;
padding:5px;
font:20px geneva, arial, helvetica, sans-serif;
}



.entrance_form_image{
width:20px;
height:20px;
float:left;
display:block;
margin:0 10px 0 0;
}



.addmission_form_image{
width:20px;
height:18px;
float:left;
display:block;
margin:0 10px 0 0;
}

#addmission_form a{
float:left;
display:block;
color:#333;
font:bold 12px geneva, arial, helvetica, sans-serif;
}



.courses_content{
width:645px;
float:left;
display:block;
}

.courses_study{
width:315px;
display:block;
float:left;
margin:0 15px 0 0;

}


.courses_text{
width:100%;
display:block;
float:left;
margin:0 20px 0 0;
}

.courses_text h2{
width:100%;
display:block;
float:left;
margin:10px 0 10px 0;
}

.courses_text a{
text-decoration:none;
color:#333;
font:bold 13px geneva, arial, helvetica, sans-serif;
float:left;
display:block;
}

.courses_text a:hover{
text-decoration:underline;
color:#C343A0;
}

.courses_text p{
display:block;
float:left;
font:10px/16px geneva, arial, helvetica, sans-serif;
color:#333333;

}

.courses_image{
width:100%;
float:left;
display:block;
}

.courses_student{
width:240px;
height:140px;
float:left;
padding:10px 115px 10px 0; 
display:block;
}









