#admission_content{
width:960px;
display:block;
margin:0 auto;
}

.admission_header{
width:960px;
display:block;
float:left;
background-color:#fff;
}

.admission_header label{
width:100%;
display:block;
float:left;
font:25px geneva, arial, helvetica, sans-serif;
color:#000;
}

.undergraduate_content{
width:960px;
display:block;
float:left;
padding:20px 0 0 0;
}


#addmission{
width:250px;
float:left;
display:block;
}


#addmission ul{
list-style:none;
}

#addmission li{
border-top:1px solid #d5d5d5;
}

#addmission a {
text-decoration:none;
font:12px geneva, arial, helvetica, sans-serif;
color:#666666;
}

#addmission a:hover{
text-decoration:underline;
color:#0f0f0f;
}

.courses_content{
width:250px;
display:block;
float:left;
}

.courses_content h2{
width:100%;
display:block;
float:left;
font:12px geneva, arial, helvetica, sans-serif;
margin:10px 0 10px 0;
}

.courses_content a{
text-decoration:none;
color:#C343A0;
float:left;
}

.courses_content a:hover{
text-decoration:underline;
color: 	#FF00FF;
}

.courses_content p{
display:block;
float:left;
font:12px/16px geneva, arial, helvetica, sans-serif;
color:#000;

}

.admission_header p a{
display:block;
float:left;
font:20px geneva, arial, helvetica, sans-serif;
color:#C343A0;
text-decoration:underline;
}


.admission_header p a:hover{
color: 	 	#FF1493;
text-decoration:none;
}



