#feedback_content{
width:700px;
display:block;
margin:0 auto;
}

#feedback_main_content{
width:660px;
display:block;
float:left;
-moz-box-shadow: 0px 0px 5px 0px #888;
-webkit-box-shadow: 0px 0px 5px 0px #888;
box-shadow: 0px 0px 5px 0px #888;
background-color:#fff;
padding:20px;
}

.feedback_text{
width:660px;
display:block;
float:left;
background_color:#fff;
margin:0 0 30px 0;

}

.feedback_text h1{
width:660;
display:block;
float:left;
text-align:center;
color:#333;
margin:0px 0 50px 200px;
font:bold 30px geneva, arial, helvetica, sans-serif;
}

.feedback_text p{
width:660;
display:block;
float:left;
color:#333;
font:14px geneva, arial, helvetica, sans-serif;
}

#form_content{
width:400px;
float:left;
display:block;
}

.feedback_form{
width:100%;
float:left;
display:block;
}

#nature{
float:left;
width:175px;
}

.name{
margin:5px 0 0 0;
float:left;
width:240px;
padding:5px;
}

#message{
margin:5px 0 0 0;
width:240px;
padding:5px;
}

#form_image{
width:260px;
float:left;
display:block;
overflow:hidden;
}

.image_form{
width:260px;
height:279px;
}

#form_content label{
margin: 7px 0 0 0;
float:left;
width:115px;
}

.form_submit{
float:left;
margin:20px 0 0 0;
}
