 #gallery_slider{
 width:940px;
 margin:0 auto;
 display:block;
 }
 #gallery1 {
		background-color: #444;
		padding: 10px;
		width: 920px;
	}
	#gallery1 ul { list-style: none; }
	#gallery1 ul li { display: inline; }
	#gallery1 ul img {
		border: 5px solid #3e3e3e;
		border-width: 5px 5px 20px;
		margin:0 10px 0 0;
	}
	#gallery1 ul a:hover img {
		border: 5px solid #fff;
		border-width: 5px 5px 20px;
		color: #fff;
	}
	#gallery1 ul a:hover { color: #fff; }
	
	
	#jquery-lightbox{
	top:300px!important;
	}
	
	#jquery-overlay{
	width:960px;
	display:block;
	float:left;
	background-color:none!important;
	}
