#sitemap_content{
width:960px;
display:block;
margin:0 auto;
}

.sitemap_details{
width:920px;
float:left;
padding:20px;
display:block;
background-color:#fff;
}

.sitemap_header{
width:100%;
float:left;
display:block;
}

.sitemap_header h1{
width:100%;
float:left;
display:block;
color:#C343A0;
font:30px geneva, arial, helvetica, sans-serif;
}

.sitemap_main_content{
width:450px;
float:left;
display:block;
margin:0 0 20px 0;
}

.sitemap_main_content h2{
width:auto;
float:left;
display:block;
color:#333;
font:17px geneva, arial, helvetica, sans-serif;
border-bottom:1px solid #333;
}

.sitemap_main_content ul{
width:420px;
float:left;
display:block;
padding:0 0 0 30px;
}

.sitemap_main_content li{
width:100%;
float:left;
display:block;
}

.sitemap_main_content a{
float:left;
display:block;
color:#333;
font:11px geneva, arial, helvetica, sans-serif;
padding:2px;
}

.sitemap_main_content a:hover{
color:#C343A0;
text-decoration:underline;
}
