<div id="footer">
    <div id="footer_content">
				<div id="college_info">
					<h3>Dummy college of Management & Arts</h3>
					<p>Jawlakhel, Lalitpur, Nepal</br>
						 Phone No: +977-1-5552136</br>
						 Fax: +977-1-5552137</p></br></br></br>
					<span>&copy;Copyright Dummy College 2012</span></br>
					<span> Privacy Policy </span></br></br>
          <span>Created by</span>
              <a href="http://www.revol-tech.com.np" target="blank"> Revol-Tech Nepal.</a>
		    </div> <!--end of college_info-->
		    <div id="college_content">
						<div class="college_links" style=" padding:0 11px 0 0px;">
						    <h4>Dummy College</h4>
										<ul>
												<li><a href="#">Welcome to Dummy College</a></li>
												<li><a href="#">About Dummy College</a></li>
												<li><a href="#">Courses</a></li>
												<li><a href="#">News</a></li>
												<li><a href="#">Finding Us</a></li>
												<li><a href="#">Life at Dummy</a></li>
												<li><a href="#">Advice</a></li>
												<li><a href="#">Contact Us</a></li>
										</ul>
						</div> <!--end of college_links-->
						<div class="college_links" style=" padding:0 6px 0 0;">
						     <h4>Useful Links</h4>
										<ul>
												<li><a href="#">Term dates</a></li>
												<li><a href="#">Rules and Standards</a></li>
												<li><a href="#">Moodle</a></li>
												<li><a href="#">Staff and Student email</a></li>
												<li><a href="#">Current Vacancies</a></li>
										</ul>
						</div>  <!--end of college_links-->
						<div class="college_links" style=" padding:0 6px 0 0;">
						     <h4>Site Tools</h4>
										<ul>
												<li><a href="#">Sitemap</a></li>
												<li><a href="#">Email Signup</a></li>
												<li><a href="#">Send to a Friend</a></li>
												<li><a href="#">Disclaimer</a></li>
												<li><a href="#">Terms & Conditions</a></li>
												<li><a href="#">Website Accessibility</a></li>
                    </ul>
						</div>  <!--end of college_links-->
						<div class="college_links" style=" padding:0 0px 0 0;"><h4>Follow Us</h4>
						    <div class="social_links">
						          <a class="facebook" href="#" target="_blank"></a>
                      <a class="twitter" href="#" target="_blank"></a>
                      <a class="youtube" href="#" target="_blank"></a>
                 </div>
						</div> <!--end of social_links-->
				</div>  <!--end of college_contents-->
</div>   <!--end of footer_content-->
</div>  <!--end of footer-->
</div>


