
    <div id="footer">
        <div id="footer_content">
				        <div id="college_info">
					        <h3>Dummy college of Management & Arts</h3>
					        <p>Jawlakhel, Lalitpur, Nepal</br>
						         Phone No: +977-1-5552136</br>
						         Fax: +977-1-5552137</p></br></br></br>
					        <span>&copy;Copyright Dummy College 2012</span></br>
					        <span> Privacy Policy </span></br></br>
                  <span>Created by</span>
                      <a href="http://www.revol-tech.com.np" target="blank"> Revol-Tech Nepal.</a>
		            </div> <!--end of college_info-->
		       
		        <div id="college_content">
						        <div class="college_links" style=" padding:0 11px 0 0px;">
						            <h4>Dummy College</h4>
										        <ul>
												        <li><a href="/pages/index">Welcome to Dummy College</a></li>
												        <li><a href="/pages/aboutus">About Dummy College</a></li>
												        <li><a href="/pages/programfaculty">Courses</a></li>
												        <li><a href="/pages/news">News</a></li>
												        <li><a href="/pages/findingus">Finding Us</a></li>
												        <li><a href="/pages/lifedcma">Life at Dummy</a></li>
												        <li><a href="/pages/advice">Advice</a></li>
												        <li><a href="#">Academic Calender</a></li>
										        </ul>
						        </div> <!--end of college_links-->
						  
						        <div class="college_links" style=" padding:0 6px 0 0;">
						             <h4>Useful Links</h4>
										        <ul>
												        <li><a href="/pages/termdate">Term dates</a></li>
												        <li><a href="/pages/collegerule">Rules and Standards</a></li>
												        <li><a href="/pages/moodle">Moodle</a></li>
												        <li><a href="/pages/staffstudentemail">Staff and Student email</a></li>
												        <li><a href="vaccancy">Current Vacancies</a></li>
										        </ul>
						        </div>  <!--end of college_links-->
						        <div class="college_links" style=" padding:0 6px 0 0;">
						             <h4>Site Tools</h4>
										        <ul>
												        <li><a href="#">Sitemap</a></li>
												        <li><a href="/pages/emailsignup">Email Signup</a></li>
												        <li><a href="/pages/sendtofriend">Send to a Friend</a></li>
												        <li><a href="#">Disclaimer</a></li>
												        <li><a href="/pages/termconditions">Terms & Conditions</a></li>
												        <li><a href="/pages/webaccessibility">Website Accessibility</a></li>
                            </ul>
						        </div>  <!--end of college_links-->
						        <div class="college_links" style=" padding:0 0px 0 0;"><h4>Follow Us</h4>
						              <div class="social_links">
						                  <a class="facebook" href="#" target="_blank"></a>
                              <a class="twitter" href="#" target="_blank"></a>
                              <a class="youtube" href="#" target="_blank"></a>
                         </div>
						        </div> <!--end of social_links-->
				    </div>  <!--end of college_contents-->
    </div>   <!--end of footer_content-->
   </div>  <!--end of footer-->


