<div id="header">
<div id="navigation">
	<div id="main_nav">
					<div id="college_logo">
							<a href="/pages/index"><%=image_tag"dummy_logo.png"%></a>
					</div>
					<div id="navigation_content">
								<ul>
                  <% @menu.each do |t|%>
                    <li><%= link_to t.title,:controller=>t.controller,:action=>t.action,:class=>'nav_content' %></li>
                  <%end%>
                  <div id="search_button"><input type="text" class="search"><a href="#"><%=image_tag"search_Btn.png",:class=>"Btn_search"%></a></div
								</ul>
						<div id="sub_nav">
								<ol>
											<li><a href="#" class="sub_nav_content">program & faculty</a></li>
											<li><a href="#" class="sub_nav_content">life @ dcma</a></li>
											<li><a href="/pages/admission" class="sub_nav_content" >admission</a></li>
								</ol>
					</div>
					</div>

	</div>
</div>
</div>
