<div id="header">
<div id="navigation">
	<div id="main_nav">
					<div id="college_logo">
							<a href="/pages/index"><%=image_tag"dummy_logo.png"%></a>
					</div>
				<div id="navigation_content">
					<ul>
             <% @menu.each do |t|%>
              <li><%= link_to t.title,:controller=>t.controller,:action=>t.action,:class=>'nav_content' %></li>
              <%end%>
            
								</ul>
								<div id="search_button"><input type="text" class="search">
                       <a href="#"><%=image_tag"search_Btn.png",:class=>"Btn_search"%></a></div>
					<div id="sub_nav">
						<ol>
							<% @submenu.each do |t|%>
							<li><%= link_to t.title,:controller=>t.controller,:action=>t.action,:class=>'sub_nav_content' %></li>
										<%end%>
								</ol>
					</div>
					</div>

	</div>
</div>
</div>
